@model CommAPP.Models.ViewModels.Identity.RegisterModel

<section class="account-sign">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-6 col-md-12">
                <div class="account-sign-up">
                    <h5 class="text-center">Sign up</h5>
                    <form method="post" asp-controller="Account" asp-action="Register">
                        <div class="form__div">
                            <input asp-for="FirstName" class="form__input" placeholder="FirstName ">
                            <span class="text-danger" asp-validation-for="FirstName"></span>

                        </div>
                        <div class="form__div">
                            <input asp-for="LastName" class="form__input" placeholder="LastName">
                            <span class="text-danger" asp-validation-for="LastName"></span>

                        </div>
                        <div class="form__div">
                            <input asp-for="UserName" class="form__input" placeholder="UserName">
                            <span class="text-danger" asp-validation-for="UserName"></span>

                        </div>

                        <div class="form__div">
                            <input asp-for="Email" class="form__input" placeholder="Email">
                            <span class="text-danger" asp-validation-for="Email"></span>

                        </div>
                        <div class="form__div">
                            <input asp-for="Password" class="form__input" placeholder="Password">
                            <span class="text-danger" asp-validation-for="Password"></span>

                        </div>
                        <div class="form__div mb-0">
                            <input asp-for="ConfirmPassword" class="form__input" placeholder="Confirm Password ">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                        </div>
                        <div class="password-info-show">
                            <input type="checkbox" id="showpassagain" class="mb-0">
                            <label for="showpassagain" class="mb-0">Show Password</label>
                        </div>
                        <button type="submit" class="btn bg-primary">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}     