@model CommAPP.Models.ViewModels.Roles.RoleModel
<form method="post" action="/Admin/CreateRole">

    <div class="form-group">
        <label for="Name">Role Name</label>
        <input class="form-control" asp-for="RoleName">

    </div>


    

    <button type="submit" class="btn btn-primary">Add Role</button>
</form>